.banner__titulo{
    color: #e0dada;
    font-family: Arial, cursive;
    font-size: 46px;
    position: absolute;
    left: 50%;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}