.banner__imagen{
    width: 100%;
    max-height: 350px; /* Establece una altura máxima */
    height: auto; /* La altura se ajustará automáticamente según el ancho */

    /*height: 350px;  Deja que la altura se ajuste automáticamente según el contenido */
   /* padding-bottom: 20%; /* Esto ajustará la altura en relación con el ancho */

    /*height: calc(100vh - 72px);*/

}