.redes__sociales {
    text-align: center;
    margin-top: 20px;
  }
  
  .redes__sociales ul {
    list-style: none;
    padding: 0;
  }
  
  .redes__sociales ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .redes__sociales ul li:last-child {
    margin-right: 0;
  }
  
  .redes__sociales a img {
    width: 30px;
    height: 30px;
    border: none;
  }

  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .redes__sociales ul li {
        margin-right: 5px; /* Reduce aún más el espacio entre los íconos */
    }
  }
  