.receta__descripcion{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    .receta__descripcion {
        padding: 0.5rem; /* Ajusta el padding para pantallas más pequeñas */
    }
}